<template name="footer">
    <footer class="footer">
        <div class="container">
            <nav class="navbar navbar-default navbar-bottom" role="navigation">
                <ul class="nav navbar-nav">
                    <li><a href="mailto:share@lightmatch.es">{{_ "contactUs"}}</a></li>
                    <li><a href="/privacy-policy">{{_ "privacy"}}</a></li>
                    <li><a href="/terms-of-use">{{_ "license"}}</a></li>
                    <li><a href="/disclaimer">{{_ "disclaimer"}}</a></li>
                    <li><a href="/agreement">{{_ "agreement"}}</a></li>
                    <li><a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备16039066号</a></li>
                </ul>
                <div class="pull-right credits">
                    {{{_ "enriched"}}}
                </div>
                <div class="pull-right social-media">
                    <nav>
                        <ul>
                            <li><a href="https://www.facebook.com/lightmatches/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="http://twitter.com/lightmatch_es" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="http://www.instagram.com/lightmatch.es/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="http://www.pinterest.com/lightmatches/" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="http://www.linkedin.com/company/lightmatch.es" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </nav>
        </div>    
    </footer>
</template>