<template name="footer">
        <footer class="page-footer grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">More</h5>
                 <ul>
                  <li><a class="grey-text text-lighten-3" href="mailto:share@lightmatch.es">{{_ "contactUs"}}</a></li>
                  <li><a class="grey-text text-lighten-3" href="/privacy-policy">{{_ "privacy"}}</a></li>
                  <li><a class="grey-text text-lighten-3" href="/license">{{_ "license"}}</a></li>
                  <li><a class="grey-text text-lighten-3" href="/terms-of-use">{{_ "terms_of_use"}}</a></li>
                  <li><a class="grey-text text-lighten-3" href="/agreement">{{_ "agreement"}}</a></li>
                  <li><a class="grey-text text-lighten-3" href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备16039066号</a></li>
                </ul>
                </div>                
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a href="https://www.facebook.com/lightmatches/" target="_blank"><i class="zmdi zmdi-facebook zmdi-hc-lg"></i></a></li>
                        <li><a href="http://twitter.com/lightmatch_es" target="_blank"><i class="zmdi zmdi-twitter zmdi-hc-lg"></i></a></li>
                        <li><a href="http://www.instagram.com/lightmatch.es/" target="_blank"><i class="zmdi zmdi-instagram zmdi-hc-lg"></i></a></li>
                        <li><a href="http://www.pinterest.com/lightmatches/" target="_blank"><i class="zmdi zmdi-pinterest-box zmdi-hc-lg"></i></a></li>
                        <li><a href="http://www.linkedin.com/company/lightmatch.es" target="_blank"><i class="zmdi zmdi-linkedin-box zmdi-hc-lg"></i></a></li>
                    </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright grey darken-4">
            <div class="container">
            © 2016 {{{_ "enriched"}}}
            </div>
          </div>
        </footer>
</template>