<!--<template name="footer">-->
        <!--<footer class="page-footer grey darken-3">-->
          <!--<div class="container">-->
            <!--<div class="row">-->
              <!--<div class="col l6 s12">-->
                <!--<h5 class="white-text">{{{_ "more"}}}</h5>-->
                 <!--<ul>-->
                  <!--<li><a class="grey-text text-lighten-3" href="mailto:share@lightmatch.io">{{_ "contactUs"}}</a></li>-->
                  <!--<li><a class="grey-text text-lighten-3" href="/privacy-policy">{{_ "privacy"}}</a></li>-->
                  <!--<li><a class="grey-text text-lighten-3" href="/license">{{_ "license"}}</a></li>-->
                  <!--<li><a class="grey-text text-lighten-3" href="/terms-of-use">{{_ "terms_of_use"}}</a></li>-->
                  <!--<li><a class="grey-text text-lighten-3" href="/agreement">{{_ "agreement"}}</a></li>-->
                  <!--<li><a class="grey-text text-lighten-3" href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备16039066号</a></li>-->
                <!--</ul>-->
              <!--</div>-->
              <!--<div class="col l4 offset-l2 s12">-->
                <!--<h5 class="white-text">{{{_ "connect"}}}</h5>-->
                    <!--<ul>-->
                        <!--<li><a href="https://www.facebook.com/lightmatch.io/" target="_blank"><i class="fa fa-facebook"></i></a></li>-->
                        <!--<li><a href="http://twitter.com/lightmatch_es" target="_blank"><i class="fa fa-twitter"></i></a></li>-->
                        <!--<li><a href="https://www.instagram.com/lightmatch.es/" target="_blank"><i class="fa fa-instagram"></i></a></li>-->
                        <!--<li><a href="http://www.pinterest.com/lightmatches/" target="_blank"><i class="fa fa-pinterest"></i></a></li>-->
                        <!--&lt;!&ndash;<li><a href="http://www.linkedin.com/company/lightmatch.es" target="_blank"><i class="fa fa-linkedin"></i></a></li>&ndash;&gt;-->
                    <!--</ul>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="footer-copyright grey darken-4">-->
            <!--<div class="container">-->
            <!--© 2016-{{year}} {{{_ "enriched"}}}-->
            <!--</div>-->
          <!--</div>-->
        <!--</footer>-->
<!--</template>-->