<!--<template name="header">-->
  <!--<nav class="grey darken-4">    -->
      <!--<div class="nav-wrapper">-->
            <!--<a class="brand-logo waves-effect waves-light" href="{{pathFor 'home'}}"><i class="lm-logo lg"></i></a>-->
          <!--<a href="#" data-activates="mobile-nav" class="button-collapse waves-effect waves-light"><i class="material-icons">menu</i></a>-->
          <!--<ul id="nav-mobile" class="right hide-on-med-and-down">-->
            <!--{{#if currentUser}}-->
            <!--<li><a class="waves-effect waves-light" href="{{photoPath}}">{{_ "myPhotos"}}</a></li>-->
            <!--{{/if}}-->
            <!--<li>{{> atNavButton}}</li>-->
            <!--<li class="dropdown">-->
              <!--<a class="dropdown-button waves-effect waves-light" href="#!" data-activates="dropdown-lang">{{_ "menuLanguage"}}<i class="material-icons right">arrow_drop_down</i></a>-->
              <!--<ul id="dropdown-lang" class="dropdown-content">-->
                <!--<li class="grey darken-3"><a href="#" class="lang white-text waves-effect waves-light" data-lang="en">English</a></li>-->
                <!--<li class="grey darken-3"><a href="#" class="lang white-text waves-effect waves-light" data-lang="zh-CN">中文</a></li>          -->
              <!--</ul>-->
            <!--</li>-->
          <!--</ul>-->
          <!--<ul class="side-nav" id="mobile-nav">-->
            <!--{{#if currentUser}}-->
            <!--<li><a href="{{photoPath}}" class="waves-effect waves-light">{{_ "myPhotos"}}</a></li>-->
            <!--{{/if}}-->
            <!--<li>{{> atNavButton}}</li>-->
            <!--<li class="dropdown">-->
              <!--<a class="dropdown-button waves-effect waves-light" href="#!" data-activates="dropdown-lang-side">{{_ "menuLanguage"}}<i class="material-icons right">arrow_drop_down</i></a>-->
              <!--<ul id="dropdown-lang-side" class="dropdown-content">-->
                <!--<li class="grey darken-3"><a href="#" class="lang white-text waves-effect waves-light" data-lang="en">English</a></li>-->
                <!--<li class="grey darken-3"><a href="#" class="lang white-text waves-effect waves-light" data-lang="zh-CN">中文</a></li>          -->
              <!--</ul>-->
            <!--</li>-->
          <!--</ul>          -->
      <!--</div>      -->
  <!--</nav>-->
<!--</template>-->