<template name="submitSuccess">
    <div id="uploading-dialog" class="zoom-anim-dialog mfp-hide">
        <h3>{{_ "uploading"}}</h3>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>    
    <div class="row">
        <div class="col s12">
            <h1>{{_ "submitSuccess" }}</h1>
            {{#if currentUser}}
                {{> submitButton}}
            {{else}}
                {{> submitButtonNoLogin}}
            {{/if}}
        </div>
    </div>
</template>