<template name="submitPhoto">
    <div id="photo-container" style="background-image:url('{{OSSUrl store='thumbs'}}');">
        <div class="row">
            <form class="col s12 tags-form">
                <div class="input-field col s12">
                      <input placeholder="Tags" id="photo-tags" type="text" data-role="materialtags">
                </div>
                <div class="input-field col s12">
                      <button class="btn" id="save-tags">Save</button>
                </div>
            </form>
          </div>        
    </div>
</template>