<template name="home">
    <div id="uploading-dialog" class="zoom-anim-dialog mfp-hide">
        <h3>{{_ "uploading"}}</h3>
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div>
        <div class="">
            <h1>{{_ "siteName"}}</h1>
            <p class="flow-text center-align">{{{_ "siteDescription"}}}</p>
        </div>
        {{#if currentUser}} 
            {{> submitButton}} 
        {{else}} 
            {{> submitButtonNoLogin}}
        {{/if}}
        <span class="center-align search-lead">{{{_ "searchLead"}}}</span>
        <nav>
            <div class="nav-wrapper grey lighten-1">
                <form id="search-form">
                    <div class="input-field">
                        <input id="search" type="search" placeholder="Search something..." required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </form>
            </div>
        </nav>

        <nav id="view-switcher" class="clearfix transparent z-depth-0">
            <ul class="center-align">
                <li><a href="#full" class="full grey-text text-darken-4 waves-effect"><i class="material-icons">view_stream</i></a></li>
                <li><a href="#grid" class="grid grey-text text-darken-4 waves-effect"><i class="material-icons">view_module</i></a></li>
            </ul>
        </nav>

        <div class="images row">
            <div class="grid-sizer"></div>
            <!-- existing images -->
            {{#each images}} {{> image }} {{/each}}
        </div>
    </div>
    <div class="md-image-overlay">
        {{#with imgOverlay}} {{> singlePhoto}} {{/with}}
    </div> 
</template>