<template name="image">
    <div class="image col {{displayClass}}">
        <div class="card">
            <!-- the image -->    
            <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="{{OSSUrl store='thumbs'}}" alt="" />
            </div>
            <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                {{#if ownImage}}
                    <a class="delete-image">
                        <i class="tiny material-icons">delete</i>
                    </a>
                    {{/if}}
                    <a class="user-link" href="{{pathFor route='userPage' userSlug=authorname}}">{{publisher}}</a> / 
                    <span class="count">{{_ "downloadCount" count=downloadCount}}</span>
                    {{#if isAdmin}}
                    <div class="pull-right">
                        <label for="{{id}}">{{_ "featured"}}</label>
                        <input type="checkbox" id="{{id}}" checked="{{published}}" class="toggle-published filled-in" />
                    </div>
                    {{/if}}
            </div>
            <!-- image info -->
            <div>
                <div class="image-info">

                </div> 
            </div>
        </div>
    </div>
</template>