<template name="image">
    <div class="image {{displayClass}}">
        <!-- the image -->    
        <div class="row">
            <div>
                <a href="{{OSSUrl store='images'}}" target="_blank" class="thumbnail img-responsive">
                    <img src="{{OSSUrl store='thumbs'}}" alt="" />
                </a>
            </div>
        </div>
        <!-- image info -->
        <div class="row">
            <div>
                <div class="image-info">
                    {{#if ownImage}}
                    <a class="delete-image">
                        <i class="fa fa-trash fa-2x"></i>
                    </a>
                    {{/if}}
                    <a class="user-link" href="{{pathFor route='userPage' userSlug=authorname}}">{{publisher}}</a> / 
                    <span class="count">{{_ "downloadCount" count=downloadCount}}</span>
                    {{#if isAdmin}}
                    <div class="pull-right">
                        {{_ "featured"}}
                        <input type="checkbox" checked="{{published}}" class="toggle-published" />
                    </div>
                    {{/if}}
                </div> 
            </div>
        </div>
    </div>
</template>