<!--<template name="submitButton">  -->
    <!--<form action="#">-->
    <!--<div class="file-field input-field center-align">-->
      <!--<div id="submit-button" class="center-align waves-effect waves-light btn-large grey darken-3 white-text">-->
        <!--<span>{{{_ "submitAPhoto"}}}</span>-->
        <!--<input id="photo" type="file">-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
<!--</template>-->

<!--<template name="submitButtonNoLogin">  -->
    <!--<div class="file-field input-field center-align">-->
      <!--<div id="submit-button-nologin" class="center-align waves-effect waves-light btn-large grey darken-3 white-text">-->
        <!--<span>{{{_ "submitAPhoto"}}}</span>-->
      <!--</div>-->
    <!--</div>-->
<!--</template>-->