<template name="agreement">
    <div class="page container">
        <div class="row">
            <div class="col-md-12">
                <h1>協议</h1>
                <p>欢迎光临 LightMatch.io，请您仔细阅读以下条款，如果您未满18周岁，请在法定监护人的陪同下阅读本协议。如果您对本协议的任何条款表示异议，您可以选择不进入LightMatch.io；进入LightMatch.io则意味着您将同意遵守本协议下全部规定，并完全服从于LightMatch.io的统一管理。 </p>
                <h2>第一章 总则</h2>
                <p>第1条 "LightMatch.io"为商标，任何人未经造作工房咨询(深圳)有限公司许可不得以任何形式擅自使用。</p>
                <p>第2条 LightMatch.io是造作工房咨询(深圳)有限公司向用户提供的信息存储空间，为用户提供讨论、交流的平台。</p>
                <p>第3条 LightMatch.io所有权、经营权、管理权均属造作工房咨询(深圳)有限公司。</p>
                <p>第4条 本协议最终解释权归属造作工房咨询(深圳)有限公司。</p>
                <h2>第二章 LightMatch.io 用户</h2>
                <p>第5条 凡是注册用户和浏览用户均为LightMatch.io用户（以下统称"用户"）。</p>
                <p>第6条 用户的个人信息受到保护，不接受任何个人或单位的查询。国家机关依法查询除外，用户的个人设置公开除外。</p>
                <p>第7条 用户享有言论自由的权利。</p>
                <p>第8条 用户的言行不得违反《计算机信息网络国际联网安全保护管理办法》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《维护互联网安全的决定》、《互联网新闻信息服务管理规定》等相关法律规定，不得在LightMatch.io发布、传播或以其它方式传送含有下列内容之一的信息：</p>
                <ol>
                    <li>反对宪法所确定的基本原则的；</li>
                    <li>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</li>
                    <li>损害国家荣誉和利益的；</li>
                    <li>煽动民族仇恨、民族歧视、破坏民族团结的；</li>
                    <li>破坏国家宗教政策，宣扬邪教和封建迷信的；</li>
                    <li>散布谣言，扰乱社会秩序，破坏社会稳定的；</li>
                    <li>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</li>
                    <li>侮辱或者诽谤他人，侵害他人合法权利的；</li>
                    <li>煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；</li>
                    <li>以非法民间组织名义活动的；</li>
                    <li>含有虚假、有害、胁迫、侵害他人隐私、骚扰、侵害、中伤、粗俗、猥亵、或其它道德上令人反感的内容；</li>
                    <li>含有中国法律、法规、规章、条例以及任何具有法律效力之规范所限制或禁止的其它内容的。</li>
                </ol>
                <p>第9条 用户在LightMatch.io发表內容时，除遵守本协议外，还需遵守LightMatch.io的其他相关规定。</p>
                <p>第10条 用户不得在LightMatch.io内发布任何形式的广告，包括但不限于：</p>
                <ol>
                    <li>发布带有任何有联系方式的网络创业、网络兼职、刷Q币以及非真实性中奖信息；</li>
                    <li>内容包含带有任何联系方式的学历职称代办，专业代做试题，作业，论文等题目以及售卖考试答案等信息；</li>
                    <li>发布任何带有联系方式的银行卡代办、买卖发票、非法彩票等信息；</li>
                    <li>含有联系方式的黑客、收费删帖、办证刻章等违法信息；</li>
                    <li>非官方认证的发布任何带有联系方式的医院、美容、药品、祛斑、医生专家和整容等信息。</li>
                </ol>
                <p>第11条 用户应承担一切因其个人的行为而直接或间接导致的民事或刑事法律责任，因用户行为给造作工房咨询(深圳)有限公司造成损失的，用户应负责赔偿。 </p>
                <p>第12条 LightMatch.io拥有对违反本站规则的用户进行处理的权力，直至禁止其在本LightMatch.io内发布信息。</p>
                <p>第13条 禁止任何使用发贴机等非法软件进行违规发贴的行为。</p>
                <p>第14条 任何用户发现LightMatch.io贴子内容涉嫌侮辱或者诽谤他人、侵害他人合法权益的或违反LightMatch.io协议的，请联系我们以作跟进。</p>
                <p>第15条 为了能够给广大用户提供一个优质的交流平台，使LightMatch.io能够良性、健康的发展，将对涉及反动、色情的头像、签名档和发布不良内容的用户，进行严厉处理。一经发现此类行为，将给予永久封禁ID并清空所有发布的处罚。</p>
                <h2>第三章 权利声明</h2>
                <p>第16条 LightMatch.io用户发布仅代表作者观点，与造作工房咨询(深圳)有限公司无关。对于用户发布的真实性引发的全部责任，由用户自行承担，造作工房咨询(深圳)有限公司不承担任何责任。</p>
                <p>第17条 用户之间因使用LightMatch.io而产生或可能产生的任何纠纷和/或损失，由用户自行解决并承担相应的责任，与造作工房咨询(深圳)有限公司无关。</p>
                <p>第18条 用户在LightMatch.io发表的作品，造作工房咨询(深圳)有限公司有权转载或引用。</p>
                <p>第19条 用户在任何时间段在LightMatch.io发表的任何内容的著作财产权，用户许可造作工房咨询(深圳)有限公司在全世界范围内免费地、永久性地、不可撤销地、可分许可地和非独家地使用的权利，包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及《著作权法》规定的由著作权人享有的其他著作财产权利。并且，用户许可造作工房咨询(深圳)有限公司有权利就任何主体侵权而单独提起诉讼，并获得全部赔偿。</p>
                <h2>第四章 处罚规则</h2>
                <p>第20条 造作工房咨询(深圳)有限公司郑重提醒用户，若出现下列情况任意一种或几种，将承担包括被关闭全部或者部分权限、被暂停或被删除其帐号的后果，情节严重的，还将承担相应的法律责任。 </p>
                <ol>
                    <li>使用不雅或不恰当ID和昵称；</li>
                    <li>发表含有猥亵、色情、人身攻击和反政府言论等非法或侵权言论的；</li>
                    <li>从事非法商业活动；</li>
                    <li>模仿LightMatch.io管理人员ID或者他人ID，用以假冒管理人员或破坏管理人员形象；</li>
                    <li>使用发贴机等非法软件进行违规发贴的行为。</li>
                    <li>其他造作工房咨询(深圳)有限公司认为不恰当的情况。</li>
                </ol>
                <p>第21条 凡文章出现以下情况之一，LightMatch.io管理人员有权不提前通知作者直接删除，并依照有关规定作相应处罚。情节严重者，LightMatch.io管理人员有权对其做出关闭部分权限、暂停直至删除其帐号。</p>
                <ol>
                    <li>发表含有本协议第8条禁止发布、传播的内容； </li>
                    <li>同一内容多次出现的； </li>
                    <li>违反本协议第9条的规定，发布广告的；</li>
                    <li>文章内容或个人签名会包含有严重影响用户浏览的内容或格式的；</li>
                    <li>其他造作工房咨询(深圳)有限公司认为不恰当的情况。</li>
                </ol>
                <h2>第五章 法律适用与管辖</h2>
                <p>第22条 本协议签订地为中华人民共和国深圳巿南山区。</p>
                <p>第23条 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律。</p>
                <p>第24条 <u>若用户和造作工房咨询(深圳)有限公司之间因本协议发生任何纠纷或争议，首先应友好协商解决；协商不成的，用户同意将纠纷或争议提交至造作工房咨询(深圳)有限公司住所地有管辖权的人民法院管辖。</u></p>
                <h2>第六章 附则</h2>
                <p>第25条 关于打击网络谣言的司法解释：《最高人民法院、最高人民检察院关于办理利用信息网络实施诽谤等刑事案件适用法律若干问题的解释》已于2013年9月5日由最高人民法院审判委员会第1589次会议、2013年9月2日由最高人民检察院第十二届检察委员会第9次会议通过，现予公布，自2013年9月10日起施行。</p>
                <p>第26条 所有用户发表的文章而引起的法律纠纷，与造作工房咨询(深圳)有限公司无关。</p>
                <p>第27条 LightMatch.io如因系统维护或升级等而需暂停服务时，将事先公告。若因硬件故障或其它不可抗力而导致暂停服务，于暂停服务期间造成的一切不便与损失，LightMatch.io不负任何责任。 由于LightMatch.io的调整导致信息丢失和/或其他结果的，造作工房咨询(深圳)有限公司不承担任何责任。</p>
                <p>第28条 本协议未涉及的问题参见国家有关法律法规，当本协议与国家法律法规冲突时，以国家法律法规为准。</p>
                <h2>第七章 免责声明</h2>
                <p>第30条 由于您将用户密码告知他人或与他人共享注册账户，由此导致的任何个人信息的泄漏，或其他非因LightMatch.io原因导致的个人信息的泄漏，LightMatch.io不承担任何法律责任；</p>
                <p>第31条 任何第三方根据LightMatch.io规则列明的情况使用您的个人信息，由此所产生的纠纷，LightMatch.io不承认任何法律责任；</p>
                <p>第32条 任何由于黑客攻击、电脑病毒侵入或政府管制而造成的暂时性网站关闭，LightMatch.io不承担任何法律责任；</p>
                <p>第33条 我们鼓励用户充分利用LightMatch.io平台自由地张贴和共享自己的信息。您可以自由张贴图片等内容，但您应拥有这些内容的使用权。同时，用户不应在自己的个人主页或社区中张贴其他受版权保护的内容。</p>
                <p>第34条 用户在LightMatch.io发表的内容（包含但不限于LightMatch.io目前各产品功能里的内容）仅表明其个人的立场和观点，并不代表LightMatch.io的立场或观点。</p>
                <p>第35条 用户在LightMatch.io发布侵犯他人知识产权或其他合法权益的内容，LightMatch.io有权予以删除，并保留移交司法机关处理的权利。</p>
                <p>第36条 用户明确同意其使用LightMatch.io服务所存在的风险将完全由其自己承担；因其使用LightMatch.io服务而产生的一切后果也由其自己承担，LightMatch.io对用户不承担任何责任。</p>
                <p>第37条 对免责声明的解释、修改及更新权均属于LightMatch.io所有。</p>
                <h3>文明上网七条底线</h3>
                <p>根据我国网络发展的现状，国信办鲁炜主任提出了网络空间的“七条底线”，我们每位网民在自由表达自己意见和诉求的同时，也要遵守“七条底线”，文明上网，争做文明网民。 </p>
                <h4>七条底线</h4>
                <ol>
                    <li>法律法规底线：有法可依、有法必依、执法必严、违法必究，任何时候，无论是网上网下，都将始终做到违法必究；</li>
                    <li>社会主义制度底线，为我们全面建成小康社会提供了有力地制度保障，我们要积极拥护社会主义及社会主义制度；</li>
                    <li>国家利益底线，作为国家公民，时刻维护我们伟大祖国的利益，这也是宪法赋予我们每位公民的光荣义务；</li>
                    <li>公民合法权益底线，我们在网络反腐的同时，切记不能以“艳照”等不健康、不正当甚至违法手段对别人进行人身攻击，否则不仅触犯法律，也侵犯了无辜者的合法权益；</li>
                    <li>社会公共秩序底线，网络世界必须也要遵循一定的秩序规则，唯有如此大家才能营造一个良好健康的网络环境；</li>
                    <li>道德风尚底线，崇尚美德在我国延续几千年的优秀传统，网络空间里也要讲道德，不做有违道德之事；</li>
                    <li>信息真实性底线，要求我们在上网时一定要实事求是，而不能以讹传讹、散发谣传，积极宣传政府部门发布的真实信息。</li>
                </ol>
                <p> 七条底线是根本，不能突破；是方圆，不能逾越。我们广大网民积极宣传落实“七条底线”，争做文明网民，净化网络空间，还网络一片“蓝天”。</p>
            </div>
        </div>
    </div>
</template>