<template name="disclaimer">
    <div class="page container">
        <div class="row">
            <div class="col-md-12">
                <h1>免责声明</h1>
                <ol class="">
                    <li>由于您将用户密码告知他人或与他人共享注册账户，由此导致的任何个人信息的泄漏，或其他非因 Lightmatch.es 原因导致的个人信息的泄漏，Lightmatch.es 不承担任何法律责任；</li>
                    <li>任何第三方根据 Lightmatch.es 规则列明的情况使用您的个人信息，由此所产生的纠纷，Lightmatch.es 不承认任何法律责任；</li>
                    <li>任何由于黑客攻击、电脑病毒侵入或政府管制而造成的暂时性网站关闭，Lightmatch.es 不承担任何法律责任；</li>
                    <li>我们鼓励用户充分利用 Lightmatch.es 平台自由地张贴和共享自己的信息。您可以自由张贴图片等内容，但您应拥有这些内容的使用权。同时，用户不应在自己的个人主页或社区中张贴其他受版权保护的内容。</li>
                    <li>用户在 Lightmatch.es 发表的内容（包含但不限于 Lightmatch.es 目前各产品功能里的内容）仅表明其个人的立场和观点，并不代表Lightmatches的立场或观点。</li>
                    <li>用户在 Lightmatch.es 发布侵犯他人知识产权或其他合法权益的内容，Lightmatch.es 有权予以删除，并保留移交司法机关处理的权</li>
                    <li>用户明确同意其使用 Lightmatch.es 服务所存在的风险将完全由其自己承担；因其使用Lightmatch.es 服务而产生的一切后果也由其自己承担，Lightmatch.es 对用户不承担任何责任。</li>
                    <li>对免责声明的解释、修改及更新权均属于 Lightmatch.es 所有。</li>
                </ol>
            </div>
        </div>
    </div>
</template>