<!--<template name="socialMedia">-->
    <!--<div class="page container">-->
        <!--<div class="row">-->
            <!--<div class="col-md-12">-->
                <!--<h1>{{_ "subscribe"}}</h1>-->
                <!--<nav class="subscribe">-->
                    <!--<ul class="list-inline">-->
                        <!--<li><a href="https://www.facebook.com/lightmatch.io/" target="_blank"><i class="fa fa-3x fa-facebook"></i></a></li>-->
                        <!--<li><a href="http://twitter.com/lightmatch_es" target="_blank"><i class="fa fa-3x fa-twitter"></i></a></li>-->
                        <!--<li><a href="https://www.instagram.com/lightmatch.es/" target="_blank"><i class="fa fa-3x fa-instagram"></i></a></li>-->
                        <!--<li><a href="http://www.pinterest.com/lightmatches/" target="_blank"><i class="fa fa-3x fa-pinterest"></i></a></li>-->
                        <!--&lt;!&ndash;<li><a href="http://www.linkedin.com/company/lightmatch.io" target="_blank"><i class="fa fa-3x fa-linkedin"></i></a></li>&ndash;&gt;-->
                    <!--</ul>-->
                <!--</nav>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</template>-->