<template name="termsOfUse">
    <div class="page container">
        <div class="row">
            <div class="col-md-12">
                <h1>使用权</h1>
                <div class="">
                <p>在 Lightmatches 发布的所有相片的使用权，均在 <a href="http://creativecommons.org/publicdomain/zero/1.0/deed.zh" target="_blank">Creative Commons Zero</a> 的协议下被规范，这代表你可以免费地复制、修改、散布以及使用这些相片，而不用寻求该些相片的摄影师或 Lightmatch.es 的许可或列明相片的来源。</p>
                </div>
            </div>
        </div>
    </div>
</template>